.header{
    font-size: 4rem;
}
.header{

    &__title{
        &--main{
            color: white;
        }

        &--submain{
            font-size: 2rem;

        }
    }   
}

.toggle{
        font-size: 2rem;

    }